.background {
    background-color:rgb(37, 48, 63) ;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    color: rgb(241, 115, 0);
}